<div>
    <a data-toggle="modal" onclick="{{name}}.settings()" class="btn btn-primary btn-small">Settings</a>
</div>

{% for feed in feeds %}
    <div>
        <p><a href="{{feed.link}}">{{feed.title}}</a><br/>
        By: {{feed.author}}</p>
    </div>
{% endfor %}
