<div class="modal-header">
    <h3>Feedburner Settings</h3>
</div>

<div class="modal-body">
    <form>
        <table>
            <tr>
                <td><label for="feed_name">Feedburner Name:</label></td>
                <td><input type="text" id="feed_name" value="{{feed_name}}"/></td>
            </tr>
        </table>
        <a onclick="{{name}}.saveFeedName(this)" class="btn btn-danger">Save</a>
    </form>
</div>

<div class="modal-footer">
    <a onclick="{{name}}.exitSettings()" class="btn btn-primary">Close</a>
</div>